<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Tazkarti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
        <h1>@ViewData["Title"]</h1>
        @RenderBody()
        <ul class="colorlib-bubbles">
            <!-- Bubble elements if needed -->
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
